ion-content{
    --background: rgba(201, 18, 18, 0.952);
    }
ion-button{
    --background: rgba(0, 0, 0, 0.973);
}
p{
    font-style: rgb(13, 93, 117);
    font-family:'Times New Roman', Times, serif
}