.image-icon {
    font-size: 100px;
    opacity: 30%;
}

.ion-avatar {
    width: 200px;
    height: 160px;
    --border-radius: 15px;
    margin:0 auto;
}
ion-content{
    --background:rgba(228, 230, 238, 0.952);
}
ion-button{
    --background:rgba(4, 17, 66, 0.952);
}